body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edf8fa;
    margin: auto;
    width: 50%;
    background: url(/images/champagne-bubbles-background1.jpg) center center no-repeat;
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 0%;
    background-color: #eef9fb;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;

}

.grid-item {
    grid-column-start: 1;
    grid-column-end: 1;
   
}

.textarea {
    grid-area: 1 / 2 / span 9 / span 1;

   
}